obj

*.exe
client

# compiled shaders
shaders/*.spv
shaders/compiled/*.spv

#generating compile commands without 10000 lines of cmake
*.txt
# for clangd
!compile_flags.txt
# IDE things
.vscode
.idea

test.cpp
r.cpp
assets/*.zip
#memory dump from VMA
dump.json
imgui.ini
nv_traces
amd_traces
intel_traces
temp.*
package
package.zip
diag.mmd
*.py
*.orig
build_wrapper_output_directory
vcpkg_installed
*.tar
/bin
#pocket vcpkg installation
/lum_vcpkg

*.md
!README.md
/lib