obj/*.o
obj/*.gch

*.exe
# compiled shaders
shaders/*.spv
shaders/compiled/*.spv
# IDE things
compile_flags.txt
.vscode
.idea

test.cpp
temp.cpp
r.cpp
.vscode
todo.txt
assets/MechGolem.zip
run.py
#memory dump from VMA
dump.json
imgui.ini
nv_traces
amd_traces
intel_traces