[submodule "external/lum-al"]
	path = external/lum-al
	url = https://github.com/platonvin/lum-al
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype
[submodule "external/RmlUi"]
	path = external/RmlUi
	url = https://github.com/mikke89/RmlUi
[submodule "external/glslang"]
	path = external/lum-al/external/glslang
	url = https://github.com/KhronosGroup/glslang.git
