obj/*.o
obj/*.o
obj/*.o
*.exe
# compiled shaders
shaders/*.spv
shaders/compiled/*.spv
# IDE things
compile_flags.txt
.vscode
.idea

test.cpp
temp.cpp
r.cpp
.vscode
todo.txt
assets/MechGolem.zip
run.py